.autoselect {
  border-radius: var(--border-radius-base) !important;

  &.borderless {
    border: none !important;
  }

  .down-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    top: 2px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
  }

  .up-arrow {
    border-style: solid;
    top: -2px;
    border-color: transparent transparent #999;
    border-top-color: #666;
    border-width: 0 5px 5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
  }

  .no-suggestions {
    color: #999;
    padding: 0.5rem;
  }

  .suggestions {
    height: 20vh;
    width: 100%;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1000;
    float: left;
    padding: 0.5rem 0;
    font-family: var(--font-family-sans);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-normal);
    color: #707072;
    font-weight: bold;
    text-align: left;
    list-style: none;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ebe9e9;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;

    /* Scroll */
    overflow-y: auto;
    overflow-x: hidden;
    /* width */
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 3px;
    }

    scrollbar-color: rgba(0, 0, 0, 0.2);
    scrollbar-width: thin;
  }

  .suggestions li {
    padding: 0.5rem;
    border-radius: var(--border-radius-base) !important;
  }

  .active-suggestion {
    background-color: #f8f9fa;
    position: relative;

    &::after {
      content: "✓";
      position: absolute;
      right: 0.75rem;
      color: #28a745;
      font-weight: bold;
    }
  }

  .suggestions li:hover {
    color: #070707;
    text-decoration: none;
    background-color: #f8f9fa;
    cursor: pointer;
  }

  .input-group-text-arrow {
    background-color: #f1f1f3 !important;
    border: none !important;
  }
}
