// ButtonGroup Component Styles
@import "../../styles/design-system/mixins";

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;

  > .btn {
    position: relative;
    flex: 1 1 auto;

    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 1;
    }

    &:focus {
      z-index: 2;
    }
  }
}

.btn-group {
  > .btn:not(:first-child),
  > .btn-group:not(:first-child) {
    margin-left: -1px;
  }

  > .btn:not(:last-child):not(.dropdown-toggle),
  > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .btn:nth-child(n + 3),
  > :not(.btn-check) + .btn,
  > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  > .btn,
  > .btn-group {
    width: 100%;
  }

  > .btn:not(:first-child),
  > .btn-group:not(:first-child) {
    margin-top: -1px;
  }

  > .btn:not(:last-child):not(.dropdown-toggle),
  > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .btn ~ .btn,
  > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .input-group {
    width: auto;
  }

  > .btn,
  > .btn-group,
  > .input-group {
    margin-right: spacing(2);
  }

  > .btn:last-child,
  > .btn-group:last-child,
  > .input-group:last-child {
    margin-right: 0;
  }
}

// Button group sizes
.btn-group-sm > .btn {
  @include button-size(sm);
}

.btn-group-lg > .btn {
  @include button-size(lg);
}
