@use "../../styles/design-system/mixins.scss";

/*  ListGroup Component Styles */

.list-group {
  --list-group-color: #{var(--color-gray-900)};
  --list-group-bg: #{var(--color-gray-50)};
  --list-group-border-color: #{var(--color-gray-200)};
  --list-group-border-width: 1px;
  --list-group-border-radius: #{var(--border-radius-md)};
  --list-group-item-padding-x: #{var(--spacing-4)};
  --list-group-item-padding-y: #{var(--spacing-2)};
  --list-group-action-color: #{var(--color-gray-700)};
  --list-group-action-hover-color: #{var(--color-gray-800)};
  --list-group-action-hover-bg: #{var(--color-gray-100)};
  --list-group-action-active-color: #{var(--color-gray-900)};
  --list-group-action-active-bg: #{var(--color-gray-200)};
  --list-group-disabled-color: #{var(--color-gray-400)};
  --list-group-disabled-bg: #{var(--color-gray-50)};
  --list-group-active-color: white;
  --list-group-active-bg: #{var(--color-primary-500)};
  --list-group-active-border-color: #{var(--color-primary-500)};

  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: var(--border-radius-md);
}

.list-group-numbered {
  list-style-type: none;
  counter-reset: section;

  > .list-group-item::before {
    content: counters(section, ".") ". ";
    counter-increment: section;
    font-weight: var(--font-weight-semibold);
  }
}

.list-group-flush {
  @include mixins.border-radius(none);

  > .list-group-item {
    border-width: 0 0 var(--list-group-border-width);
    @include mixins.border-radius(none);

    &:last-child {
      border-bottom-width: 0;
    }
  }
}

.list-group-horizontal {
  flex-direction: row;

  > .list-group-item {
    &:first-child:not(:last-child) {
      border-bottom-left-radius: var(--list-group-border-radius);
      border-top-right-radius: 0;
    }

    &:last-child:not(:first-child) {
      border-top-right-radius: var(--list-group-border-radius);
      border-bottom-left-radius: 0;
    }

    &.active {
      margin-top: 0;
    }
  }

  &.list-group-flush > .list-group-item {
    border-width: 0 var(--list-group-border-width) 0 0;

    &:last-child {
      border-right-width: 0;
    }
  }
}

/*  Equal width for flex-fill */
.flex-fill {
  > .list-group-item {
    flex: 1 1 0%;
  }
}
