/* Define default values for the variables */
:root {
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;

  /* Your custom variables */
  --focus-border-color: #bec4c9;
  --focus-border-thickness: 1px;
}

// Override Bootstrap's variables to use CSS vars
$primary: var(--bs-primary);
$secondary: var(--bs-secondary);
$success: var(--bs-success);
$info: var(--bs-info);
$warning: var(--bs-warning);
$danger: var(--bs-danger);

@import "./vendor/bootstrap.min.v5.3.6.css";
@import "./bootstrap-overrides.scss";

/*!
 *  Global styles for solid-react-ui. This file imports all necessary stylesheets and sets up global styles.
 */

@import "./spinner.scss";
@import "../components/common/ScrollBar.scss";
@import "../components/form/autoselect.scss";
@import "../components/form/ImageDropZone.scss";
@import "../components/form/InputNumber.scss";
@import "../components/form/date/CalendarDaysList.scss";
@import "../components/form/date/CalendarMonthMenu.scss";
@import "../components/form/date/CalendarNavigationMenu.scss";
@import "../components/form/date/CalendarWeekDayNames.scss";
@import "../components/form/date/CalendarYearMenu.scss";
@import "../components/form/date/DatePicker.scss";
@import "../components/form/date/DateTimePicker.scss";
@import "../components/form/date/DateTimeRangePicker.scss";

.form-control:focus {
  box-shadow: none !important;
  border: var(--focus-border-thickness) solid var(--focus-border-color) !important;
  outline: none;
}
