@use "design-system/tokens";

.lds-spinner {
  display: inline-flex;
  border: 1px solid theme-color(gray, 200);
  border-radius: 50%;
  border-top: 2px solid currentColor;
  width: 12px;
  height: 12px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
