@use "../../styles/design-system/mixins.scss";

/*  Container Component Styles */

.container {
  @include mixins.make-container();
  @include mixins.container-max-widths();
}

.container-sm {
  @include mixins.make-container();

  @include mixins.media-up(sm) {
    max-width: 540px;
  }
}

.container-md {
  @include mixins.make-container();

  @include mixins.media-up(md) {
    max-width: 720px;
  }
}

.container-lg {
  @include mixins.make-container();

  @include mixins.media-up(lg) {
    max-width: 960px;
  }
}

.container-xl {
  @include mixins.make-container();

  @include mixins.media-up(xl) {
    max-width: 1140px;
  }
}

.container-xxl {
  @include mixins.make-container();

  @include mixins.media-up(xxl) {
    max-width: 1320px;
  }
}

.container-fluid {
  @include mixins.make-container();
}
