@use "../../styles/design-system/mixins.scss";

/*  Row Component Styles */

.row {
  @include mixins.make-row();
}

.gx-0 {
  margin-left: 0;
  margin-right: 0;

  > * {
    padding-left: 0;
    padding-right: 0;
  }
}

/*  Alignment utilities */
.align-items-start {
  @include mixins.align-items(flex-start);
}

.align-items-center {
  @include mixins.align-items(center);
}

.align-items-end {
  @include mixins.align-items(flex-end);
}

/*  Justify content utilities */
.justify-content-start {
  @include mixins.justify-content(flex-start);
}

.justify-content-center {
  @include mixins.justify-content(center);
}

.justify-content-end {
  @include mixins.justify-content(flex-end);
}

.justify-content-around {
  @include mixins.justify-content(space-around);
}

.justify-content-between {
  @include mixins.justify-content(space-between);
}

.justify-content-evenly {
  @include mixins.justify-content(space-evenly);
}
