.date-picker {
  position: relative;
  max-width: 385px;

  .date-picker-view {
    color: #495057;
    line-height: 1.5;

    .check-in-time,
    .check-out-time {
      color: #ff0000 !important;
      font-size: 12px;
    }

    &:hover {
      cursor: pointer;
    }

    .check-in-time,
    .check-out-time {
      color: #6f7479;
    }
  }

  .date-picker-calendar {
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1000;
    float: left;
    padding: 0.5rem;
    font-family: var(--font-family-sans);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-normal);
    color: #707072;
    text-align: left;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ebe9e9;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 300px;
  }
}
